<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Request</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div class="container my-5">
    <h2 class="mb-5">Add request</h2>
    <div class="col-md-6">
        <form action="#" th:action="@{/add_request}" th:object="${request}" method="post">

            <div class="form-group col-md-6">
                <label for="requestKind" class="col-form-label">Kind of Request</label>
                <select class="form-control" th:field="*{requestKind}" placeHolder="Kind of Request" id="requestKind">
                    <option th:each="requestKind : ${requestKindList}" th:value="${requestKind.id}"
                            th:text="${requestKind.optionText}"></option>
                </select>
            </div>

            <div class="form-group col-md-6">
                <label for="name" class="col-form-label">Name</label>
                <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name">
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label for="surName" class="col-form-label">Surname</label>
                <input type="text" th:field="*{surName}" class="form-control" id="surName" placeholder="Surname">
                <span th:if="${#fields.hasErrors('surName')}" th:errors="*{surName}" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label for="policyNumber" class="col-form-label">Policy Number</label>
                <input type="text" th:field="*{policyNumber}" class="form-control" id="policyNumber"
                       placeholder="Policy Number">
                <span th:if="${#fields.hasErrors('policyNumber')}" th:errors="*{policyNumber}"
                      class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label for="requestText" class="col-form-label">Request Text</label>
                <textarea class="form-control" th:field="*{requestText}" id="requestText" rows="5"></textarea>
                <span th:if="${#fields.hasErrors('requestText')}" th:errors="*{requestText}" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-md-6 mt-5">
                    <input type="submit" class="btn btn-primary" value="Send Request">
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>